html,
body {
  font-family: 'Noto Sans Display', 'Noto Sans', sans-serif;
  font-size: 1em;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary: #eb0041;
  --secondary: #ffdee7;
  --third: #2b3778;

  --darkgrey: #586782;
  --mediumgrey: #ccd1d8;
  --lightgrey: #f0f1f5;

  --primarytext: #fff;
  --secondarytext: #eb0041;

  --primaryborder: #ccd1d8;
}


/*****************************
 * UPFRAME THEME
 *****************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  padding: 1rem;
  border: 1px solid var(--primaryborder);
  border-radius: 0.25rem;
  margin: 1rem auto;
  outline: none;
  transition: .25s ease-in-out;
}

input:hover,
input:focus {
  border-color: var(--primary);
}

.badge {
  color: var(--primary);
  background: var(--secondary);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  letter-spacing: 0.0375rem;
}

/*****************************
 * INTERNSHIPS
 *****************************/

.companyLogo {
  max-height: 5.300rem;
  min-width: 5.300rem;
  border-radius: 50%;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

nav {
  background-color: var(--third);
  color: var(--primarytext);
  z-index: 0;
}

nav .wrapper {
  display: flex;
  width: 75rem;
  height: 6rem;
  max-width: 90%;
  margin: 0 auto;
}

nav .logo {
  object-fit: contain;
  max-width: 10rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.1125rem;
  font-weight: 700;
}

nav ul li::after {
  display: block;
  position: relative;
  content: "";
  background-color: var(--primary);
  height: 0.25rem;
  width: 80%;
  margin: 0.25rem auto 0 auto;
}

header {
  display: flex;
  justify-content: center;
  min-height: 20rem;
  background-color: var(--third);
  color: var(--primarytext);
}

header div {
  max-width: 35%;
  margin-top: 2rem;
  text-align: center;
}

header div h1 {
  font-size: 4.125rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  margin: auto auto 1.625rem auto;
}

header div p {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0;
}

.container {
  max-width: 80%;
  width: 70rem;
  margin: 4rem auto;
}

.offerList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 2rem;
}

.offerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.0625rem;
  padding: 2.4rem 1rem 2.4rem 2.4rem;
  border: 0.0625rem solid var(--mediumgrey);
  border-radius: 0.25rem;
  transition: .25s ease-in-out;
}

.offerItem:hover {
  border-color: var(--primary);
  background-color: var(--secondary);
}

.offerItem .mainInfo {
  flex-basis: 80%;
}

.offerItem .mainInfo p {
  font-weight: 400;
  color: var(--primary);
  margin: 0;
}

.offerItem .mainInfo h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 1150px) {
  header div {
    max-width: 45%;
  }
}

@media (max-width: 970px) {
  nav .wrapper {
    max-width: 95%;
  }

  header {
    min-height: 16rem;
  }

  header div {
    max-width: 50%;
  }

  header div h1 {
    font-size: 3.3rem;
  }

  header div p {
    font-size: 1.1rem;
  }

  .container {
    max-width: 90%;
  }

  .offerList {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .offerItem {
    padding: 1.5rem 2rem;
  }

  .offerItem .mainInfo {
    margin: 0 1rem 0 0;
  }
}

@media (max-width: 720px) {
  header div {
    max-width: 75%;
  }
}

@media (max-width: 450px) {
  header div {
    max-width: 90%;
  }
}

@media (max-width: 350px) {
  .offerItem {
    flex-direction: column;
  }

  .offerItem .mainInfo {
    margin: 0 0 1rem 0;
  }
}

.application {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
}

.application div {
  max-width: 50%;
}

.application div h1 {
  font-size: 3rem;
  font-weight: 500;
}

.application div input {
  display: block;
  max-width: 50%;
  width: 15rem;
}