* {
  font-family: 'Noto Sans';
  font-size: 1em;
}

:root {
  --primary: #eb0041;
  --secondary: #ffdee7;
  --third: #2b3778;

  --darkgrey: #586782;
  --mediumgrey: #ccd1d8;
  --lightgrey: #f0f1f5;

  --primarytext: #fff;
}

.badge {
  color: var(--primary);
  background: var(--secondary);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

.companyLogo {
  max-height: 5.300rem;
  min-width: 5.300rem;
  border-radius: 50%;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

nav {
  height: 4rem;
  background-color: var(--third);
  color: var(--primarytext);
  z-index: 0;
}

nav .wrapper {
  display: flex;
  width: 70rem;
  max-width: 85%;
  margin: 0 auto;
}

nav .logo {
  object-fit: contain;
  max-width: 12.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

nav ul li::after {
  display: block;
  position: relative;
  content: "";
  background-color: var(--primary);
  height: 0.25rem;
  width: 50%;
  margin: 0.25rem auto 0 auto;
}

header {
  display: flex;
  justify-content: center;
  min-height: 20rem;
  background-color: var(--third);
  color: var(--primarytext);
}

header div {
  max-width: 35%;
  margin-top: 2rem;
  text-align: center;
}

header div h1 {
  font-size: 4.125rem;
  font-weight: 500;
  margin: auto auto 1.625rem auto;
}

header div p {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}

.container {
  max-width: 80%;
  width: 70rem;
  margin: 4rem auto;
}

.offerList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 2rem;
}

.offerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.0625rem solid var(--mediumgrey);
  border-radius: 0.25rem;
  padding: 1.6rem 1rem 1.6rem 2.4rem;
}

.offerItem .mainInfo {
  flex-basis: 80%;
}

.offerItem .mainInfo p {
  margin: 0.25rem 0 0 0;
  color: var(--primary);
  letter-spacing: 0.025rem;
}

.offerItem .mainInfo h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
}

@media (max-width: 970px) {
  nav .wrapper {
    max-width: 95%;
  }

  header {
    min-height: 16rem;
  }

  header div {
    max-width: 90%;
  }

  header div h1 {
    font-size: 3.3rem;
  }

  header div p {
    font-size: 1.1rem;
  }

  .container {
    max-width: 90%;
  }

  .offerList {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .offerItem {
    padding: 1.5rem 2rem;
  }

  .offerItem .mainInfo {
    margin: 0 1rem 0 0;
  }
}

@media (max-width: 350px) {
  .offerItem {
    flex-direction: column;
  }

  .offerItem .mainInfo {
    margin: 0 0 1rem 0;
  }
}