html,
body {
  font-family: 'Noto Sans Display', 'Noto Sans', sans-serif;
  font-size: 1em;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: url('/fonts/NotoSansDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --primary: #eb0041;
  --secondary: #ffdee7;
  --third: #2b3778;
  --darkgray: #586782;
  --mediumgray: #ccd1d8;
  --lightgray: #f0f1f5;
  --text-primary: #fff;
  --text-secondary: #eb0041;
  --primaryborder: #ccd1d8;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/*****************************
 * UPFRAME THEME
 *****************************/

/* COLORS */
.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-darkgray {
  color: var(--darkgray);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-darkgray {
  background-color: var(--darkgray);
}

/* TEXT ELEMENTS */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  color: black;
}

.title-1 {
  font-size: 2.5rem;
}

.title-2 {
  font-size: 1.3rem;
}

/* GROUP ELEMENTS */
.container {
  max-width: 80%;
  width: 70rem;
  margin: 4rem auto;
}

.container.container-wider {
  max-width: 85%;
  width: 90rem;
}

.card {
  border: 1px solid var(--mediumgray);
  border-radius: 0.25rem;
}

/* POSITION */
.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex.items-center {
  align-items: center;
}

.flex.content-center {
  justify-content: center;
}

.grid {
  display: grid;
}

/* FORMS AND INPUT */
input {
  padding: 1rem;
  border: 1px solid var(--primaryborder);
  border-radius: 0.25rem;
  margin: 1rem auto;
  outline: none;
  transition: .25s ease-in-out;
}

input:hover,
input:focus {
  border-color: var(--primary);
}

/* BUTTONS */
.btn {
  -webkit-appearance: none;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  min-width: 10rem;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn.btn-primary {
  color: var(--text-primary);
  background-color: var(--primary);
}

/* BADGE */
.badge {
  color: var(--primary);
  background: var(--secondary);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  letter-spacing: 0.0375rem;
}

/* BREADCRUMBS */
.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  color: var(--darkgray);
  letter-spacing: 0.01785rem;
}

.breadcrumbs li.item {
  margin: 0 1rem;
}

.breadcrumbs li.item:first-of-type {
  margin: 0 1rem 0 0;
}

.breadcrumbs li.item:last-of-type {
  margin: 0 0 0 1rem;
}

/* IMAGE */
.image {
  max-width: 20rem;
}

.image.round {
  border-radius: 50%;
}

/*****************************
 * INTERNSHIPS
 *****************************/

.companyLogo {
  max-height: 5.3rem;
  min-width: 5.3rem;
  border-radius: 50%;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

nav {
  background-color: var(--third);
  color: var(--text-primary);
  z-index: 0;
}

nav .wrapper {
  display: flex;
  align-items: center;
  width: 75rem;
  height: 5rem;
  max-width: 90%;
  margin: 0 auto;
}

nav .logo img {
  object-fit: contain;
  width: 10rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

nav ul li {
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-weight: 400;
}

nav ul li::after {
  display: block;
  position: relative;
  content: "";
  background-color: var(--primary);
  height: 0.15rem;
  width: 80%;
  border-radius: 2rem;
  margin: 0.25rem auto 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18rem;
  background-color: var(--third);
  color: var(--text-primary);
}

header div {
  max-width: 30%;
  text-align: center;
}

header h1 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

header p {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0;
}

/* * * * * * * * *
 * LANDING PAGE
 * * * * * * * * */
#main header h1 {
  margin: auto auto 1.625rem auto;
}

#main .offerList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 2rem;
}

#main .offerList .offerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.0625rem;
  padding: 2.4rem 1rem 2.4rem 2.4rem;
  border: 0.0625rem solid var(--mediumgray);
  border-radius: 0.25rem;
  transition: .25s ease-in-out;
}

#main .offerList .offerItem:hover {
  border-color: var(--primary);
  background-color: var(--secondary);
}

#main .offerList .offerItem .mainInfo {
  flex-basis: 80%;
}

#main .offerList .offerItem .mainInfo p {
  font-weight: 400;
  color: var(--primary);
  margin: 0;
}

#main .offerList .offerItem .mainInfo h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

/* * * * * * * * *
 * APPLY PAGE
 * * * * * * * * */
#apply header {
  min-height: 15rem;
}

#apply main .container .grid {
  margin-top: 2rem;
  grid-template-columns: 2.7fr 1fr;
  grid-column-gap: 8rem;
}

#apply #calltoaction button {
  width: 100%;
}

#apply .card {
  margin-top: 2rem;
  padding: 2rem;
}

#apply #ambassador-profile {
  max-width: 6rem;
}

/* * * * * * * * *
 * SUBSCRIBE PAGE
 * * * * * * * * */
.subscribe {
  max-width: 65%;
  margin: 0 auto;
}

.subscribe .title {
  text-align: center;
}

.subscribe .title h1 {
  color: #29358c;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.subscribe .content p {
  color: #586782;
}

.subscribe form {
  display: flex;
  justify-content: center;
}

.subscribe form div#mc_embed_signup_scroll {
  display: flex;
}

.subscribe .mc-field-group {
  margin: 1rem;
}

.subscribe .mc-field-group input {
  width: 14rem;
  -webkit-appearance: none;
}

.subscribe div.clear {
  display: flex;
  align-items: center;
}

.subscribe input[type="submit"] {
  -webkit-appearance: none;
  background: #ff004b;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;
  min-width: 10rem;
  border-radius: 2rem;
}

/* * * * * * * * *
 * MEDIA QUERIES
 * * * * * * * * */
@media (max-width: 1150px) {
  header div {
    max-width: 45%;
  }
}

@media (max-width: 970px) {
  nav .wrapper {
    max-width: 95%;
  }

  header {
    min-height: 16rem;
  }

  header div {
    max-width: 50%;
  }

  header div h1 {
    font-size: 3.3rem;
  }

  header div p {
    font-size: 1.1rem;
  }

  .container {
    max-width: 90%;
    margin: 2rem auto;
  }

  #main .offerItem {
    padding: 1.5rem 2rem;
  }

  #main .offerItem .mainInfo {
    margin: 0 1rem 0 0;
  }

  #apply main .container .grid {
    grid-column-gap: 2rem;
  }

  .subscribe form div#mc_embed_signup_scroll {
    flex-direction: column;
  }

  .subscribe .mc-field-group {
    margin: 0;
  }
}

@media (max-width: 720px) {
  nav .logo img {
    width: 7.5rem;
  }

  header div {
    max-width: 75%;
  }

  #main .offerList {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #apply main .container {
    flex-direction: column;
  }

  #apply main .container .grid {
    margin-top: 2rem;
    grid-template-columns: none;
    grid-row-gap: 2.5rem;
  }

  #apply main #calltoaction {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform:translate(-50%, 0);
    background: linear-gradient(to bottom,transparent,rgba(20,20,20,.8) 50%,rgba(20,20,20,.9) 100%);
  }

  #apply main #calltoaction button {
    width: 90%;
    margin: 1rem auto;
  }

  #apply main .grid .card {
    margin: 0;
  }
}

@media (max-width: 450px) {
  header div {
    max-width: 90%;
  }

  .subscribe {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
  }  
}

@media (max-width: 350px) {
  header div {
    margin-bottom: 1rem;
  }

  #main .offerItem {
    flex-direction: column;
  }

  #main .offerItem .mainInfo {
    margin: 0 0 1rem 0;
  }
}